.navMenu{
    background-color: #8ed8f5;
    height: 90px;
}
.navMenu:active{
    text-decoration: none;
    color: #ffffff;
}
.navLogoContainer{
    background-color: black;
}
a:active{
    color: #ffffff;
}
a:visited{
    color: #800080;
}
.footerContainer{
    justify-content: left !important;
}
.footerNavLink{
    margin-right: 30px;
}
