.navMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #04030f;
    height: 90px;
}
.navLink{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navMenu:active{
    text-decoration: none;
    color: #ffffff;
}
.navLogoContainer{
    background-color: black;
    display: flex !important;
    flex-direction: row !important;
    justify-self: flex-start !important;
}
.navLogoImg{
    height: 75px !important;
    width: 75px !important;
    justify-self: flex-start !important;
}
a:active{
    color: #ffffff;
}
a:visited{
    color: #800080;
}
.footerContainer{
    justify-content: left !important;
    background-color: #e6e6e6;
}
.footerNavLink{
    margin-right: 30px;
}
.disclaimerCopyr{
    font-size: 6.5px;
}
.jumbotron{
    margin-top: 75px;
    border-style: groove !important;
    padding-bottom: 50px;
}
.jumbotronDishPicture{
    height: 250px;
    width: 350px;
}
.restaurantBrandHome{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: #ff7300b7 !important;
}
.homeRow{
    margin-top: 0px !important;

}
.contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactTitle{
    color: #ff7300b7 !important;
}
.nameField{
    width: 400px !important;
}
.messageField{
    width: 500px !important;
    height: 150px !important;
}
.contactButtonStyling{
    background-color: #8a8300 !important
}
.mapHolder{
    /* margin-top: 50px !important; */
    padding: 10px !important;
}
.listStyle{
    border: none !important;
    color: #8a8300 !important;
}
.h1LocationTitle{
    color: #ff7300b7;
}
